html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
menu,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input, select {
  vertical-align: middle;
}
/* --------------------- included in boilerplate -------------------------------------------------------------------------------------------------------------------- */
body {
  font: 13px sans-serif;
  *font-size: small;
  *font: x-small;
  line-height: 1.22;
}
table {
  font-size: inherit;
  font: 100%;
}
select, input, textarea {
  font: 99% sans-serif;
}
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
body,
select,
input,
textarea {
  color: #2a2a2a;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
html {
  -webkit-font-smoothing: antialiased;
}
a:hover, a:active {
  outline: none;
}
a, a:active, a:visited {
  color: #607890;
}
a:hover {
  color: #036;
}
ul {
  margin-left: 30px;
}
ol {
  margin-left: 30px;
  list-style-type: decimal;
}
small {
  font-size: 85%;
}
strong, th {
  font-weight: bold;
}
td, td img {
  vertical-align: top;
}
sub {
  vertical-align: sub;
  font-size: smaller;
}
sup {
  vertical-align: super;
  font-size: smaller;
}
pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
}
.ie6 input {
  vertical-align: text-bottom;
}
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}
a:link {
  -webkit-tap-highlight-color: #FF5E99;
}
html {
  overflow-y: scroll;
}
button {
  width: auto;
  overflow: visible;
}
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* --------------------- base / common / reused styles -------------------------------------------------------------------------------------------------------------------- */
html {
  height: 100%;
}
body {
  height: 100%;
  background: url(../img/body_background.gif);
}
#homepage-wrap {
  min-height: 100%;
}
.button, .button:visited {
  display: block;
  text-align: center;
  color: #fffefe;
  background-color: #2a2a2a;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.button:hover {
  background-color: #1d1d1d;
  color: #fffefe;
}
.button::selection {
  color: none;
  background: transparent;
}
.button::-moz-selection {
  color: none;
  background: transparent;
}
.button::-webkit-selection {
  color: none;
  background: transparent;
}
.button, a {
  -moz-transition: background-color 0.3s ease-out, color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out, color 0.3s ease-out;
  -webkit-transition: background-color 0.3s ease-out, color 0.3s ease-out;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}
.pill {
  width: 130px;
  height: 20px;
  margin: 15px auto 0;
  line-height: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  letter-spacing: 1px;
}
/* round buttons used for sliders */
.slider {
  width: 60px;
  height: 60px;
  line-height: 50px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background: #2a2a2a;
  z-index: 999;
  position: absolute;
}
.next {
  background: center 60% url(../img/slider_arrow_next.png) no-repeat #2a2a2a;
}
.prev {
  background: center 60% url(../img/slider_arrow_prev.png) no-repeat #2a2a2a;
}
/* separator bar */
.separator {
  width: 90%;
  min-width: 658px;
  height: 16px;
  margin: 0 auto;
  background: center top url(../img/header_fans.png) #f0eeee;
  border: 1px solid #c4c3c1;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.separator:before {
  content: "";
  display: block;
  width: 100%;
  position: relative;
  top: -3px;
  left: 0px;
  height: 3px;
  background: rgba(23, 65, 65, 0.2);
}
.separator p {
  width: 90%;
  margin: -10px auto 0 auto;
  overflow: hidden;
}
hr {
  height: 3px;
  width: 70px;
  padding: 0;
  margin: 5px auto;
  border: none;
  background: url(../img/dot.png) repeat-x;
}
/* ------------------------------------------------------
		Type
------------------------------------------------------ */
@font-face {
  font-family: 'OFLSortsMillGoudyRegular';
  src: url('../fonts/OFLGoudyStM-webfont.eot');
  src: local('☺'), url('../fonts/OFLGoudyStM-webfont.woff') format('woff'), url('../fonts/OFLGoudyStM-webfont.ttf') format('truetype'), url('../fonts/OFLGoudyStM-webfont.svg#webfontwzHaehaw') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OFLSortsMillGoudyItalic';
  src: url('../fonts/OFLGoudyStM-Italic-webfont.eot');
  src: local('☺'), url('../fonts/OFLGoudyStM-Italic-webfont.woff') format('woff'), url('../fonts/OFLGoudyStM-Italic-webfont.ttf') format('truetype'), url('../fonts/OFLGoudyStM-Italic-webfont.svg#webfontRrg0pQHE') format('svg');
  font-weight: normal;
  font-style: normal;
}
aside {
  font: 13px 'OFLSortsMillGoudyItalic';
  text-align: center;
  position: relative;
}
h1 {
  font-size: 18px;
}
p {
  font-size: 14px;
  text-align: left;
  line-height: 24px;
}
#portfolio_project_wrap p {
  font-size: 13px;
}
/* ------------------------------------------------------
		Header - homepage & portfolio
------------------------------------------------------ */
header {
  width: 100%;
  height: 113px;
  background: url(../img/header_background.png);
  position: relative;
  margin-bottom: 50px;
  border-bottom: 1px solid #8ba1a1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.portfolio header {
  height: 35px;
  margin-bottom: 30px;
}
header:after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -2px;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}
#fans {
  height: 25px;
  background: top center url(../img/header_fans.png) no-repeat;
}
.logo {
  width: 185px;
  height: 34px;
  margin: 0 auto;
  background: url(../img/signature_large.png) no-repeat;
}
/* styles for header on the portfolio page */
#portfolio_wrap {
  width: 780px;
  height: 35px;
  margin: 0 auto;
}
/* smaller logo */
.smalllogo {
  display: block;
  float: left;
  width: 122px;
  height: 22px;
  background: url(../img/signature_small.png) no-repeat;
  position: relative;
  top: 5px;
}
/* container for the navigator menu*/
#navigate {
  float: right;
  margin-top: 7px;
  position: relative;
}
#navigate aside {
  display: inline;
  float: left;
  top: 4px;
}
.switcher {
  height: 40px;
  float: right;
}
.switcher h1 {
  padding: 0 20px 0 10px;
  background: 98% 5px url(../img/arrows.png) no-repeat;
  cursor: pointer;
}
.switcher:hover h1 {
  background-position: 98% -27px;
  background-color: #2a2a2a;
  padding: 0 20px 20px 5px;
  margin-left: 5px;
  color: #f6f4f1;
  cursor: pointer;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  position: relative;
  z-index: 222;
}
.switcher div {
  width: 270px;
  padding: 15px;
  background: #2a2a2a;
  color: #f6f4f1;
  cursor: pointer;
  z-index: 222;
  -moz-border-radius: 4px 0px 4px 4px;
  -webkit-border-radius: 4px 0px 4px 4px;
  border-radius: 4px 0px 4px 4px;
  position: absolute;
  left: -999em;
}
.switcher:hover div {
  width: 270px;
  padding: 15px;
  top: 25px;
  left: 60px;
  background: #2a2a2a;
  color: #f6f4f1;
  cursor: pointer;
  z-index: 222;
  -moz-border-radius: 4px 0px 4px 4px;
  -webkit-border-radius: 4px 0px 4px 4px;
  border-radius: 4px 0px 4px 4px;
}
.switcher ul {
  margin: 5px 0 15px;
  padding: 0;
  list-style-type: none;
}
.switcher ul li {
  margin: 2px 0;
}
/* shadow under the header on the homepage */
#shadow {
  width: 100%;
  height: 26px;
  background: top center url(../img/header_shadow.png) no-repeat;
  position: absolute;
  bottom: -26px;
  z-index: -1;
}
/* blue bar under the header */
#bluebar {
  width: 100%;
  height: 6px;
  background: top center url(../img/header_blue_background.png);
  position: absolute;
  bottom: -6px;
  z-index: -2;
  border-bottom: 1px solid #778a85;
}
#bluebar:before, #bluebar:after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: -3px;
  height: 1px;
  background: #cdcfcc;
}
#bluebar:after {
  bottom: -2px;
  height: 1px;
  background: #939f9e;
}
/* ------------------------------------------------------
	Featured Projects - homepage
------------------------------------------------------ */
#featured {
  width: 94%;
  min-width: 790px;
  margin: 0 auto;
  padding-bottom: 200px;
  text-align: center;
}
.ie #featured {
  min-width: 880px;
}
/* transparent black bar behind headline */
.title_bar {
  width: 100%;
  height: 113px;
  position: absolute;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  border-top: 1px solid #b1aaa0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #b1aaa0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: -1;
}
.ie #title_bar {
  background: url(../img/footer_background_layerone.png);
}
/* container for individual project information */
#featured_project_summary {
  float: left;
  width: 35%;
  min-width: 290px;
}
.ie #featured_project_summary {
  min-width: 300px;
}
section nav {
  height: 77px;
  padding: 18px 0;
  margin-bottom: 45px;
}
#featured-project-info-slider {
  overflow: hidden;
  position: relative;
  height: 270px;
  width: 100%;
}
#featured-project-info-slider .items {
  width: 200%;
}
.featured-project {
  width: 50%;
  float: left;
}
#featured_project_summary > aside {
  margin: 10px 0;
}
#featured_project_summary p {
  margin-bottom: 20px;
}
/* container for the project image slider */
#featured_project_slider {
  float: right;
  width: 65%;
  min-width: 538px;
}
/* ------------------------------------------------------
	Slider & Counter - homepage & portfolio
------------------------------------------------------ */
/* this is the slide counter, and styles */
#slide_indicate {
  width: 530px;
  height: 50px;
  margin: 0 auto;
}
/* container for the text and slides, set to the exact width */
.digits {
  width: 131px;
  height: 20px;
  margin: 0 auto;
  line-height: normal;
  overflow: hidden;
  position: relative;
  top: 16px;
}
.digits p {
  float: left;
  margin: -1px 5px 0 0;
}
.ten_slide, .one_slide {
  width: 12px;
  height: 10em;
  float: left;
  position: relative;
  margin-left: 1px;
}
.counter-container {
  float: left;
  height: 10em;
  width: 31px;
}
.flipper {
  display: block;
  width: 6px;
  background: #2a2a2a;
  padding: 2px 3px;
  margin: 1px 0;
  color: #fffefe;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: 12px "Arial Narrow", sans-serif;
}
/* container for the slider and arrows on the homepage */
#fp_contain {
  width: 530px;
  margin: 0 auto;
  position: relative;
}
/* change positioning on the home page only */
.home {
  margin-top: 45px;
}
#fp_contain .next {
  right: -28px;
}
#fp_contain .prev {
  left: -28px;
}
.scrollable {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.items {
  /* want this for all .items, which are only ever used for a scroller */

  width: 20000em;
  position: absolute;
}
.scrollable .items div {
  float: left;
  width: 530px;
  height: 400px;
}
/* change size for scrollable divs on the portfolio page 
	bad selector
*/
.portfolio .scrollable {
  width: 100%;
  height: 1000px;
}
.portfolio .items div {
  width: 780px;
  height: 100%;
}
.web-item {
  padding-top: 24px;
  background: top left url(../img/browser_bar_pattern.png) repeat-x;
}
/* ------------------------------------------------------
		Work Select
------------------------------------------------------ */
#work_select {
  width: 82%;
  height: 300px;
  min-width: 645px;
  margin: 0 auto;
}
#work_select section {
  width: 33.34%;
  height: 100%;
  min-width: 215px;
  float: left;
  text-align: center;
  position: relative;
  background: transparent;
}
.work_slide {
  width: 100%;
  padding-top: 20px;
  position: absolute;
}
#work_select h1, #work_select aside {
  position: relative;
  top: 60px;
  margin-bottom: -5px;
  cursor: default;
}
.viewall {
  width: 110px;
  margin: 0 auto;
  text-align: left !important;
  padding-left: 20px !important;
  background: 80% center url(../img/slider_arrow_next.png) no-repeat #2a2a2a;
}
.thumb_link {
  display: block;
  vertical-align: center;
  width: 90%;
  max-width: 300px;
  min-width: 190px;
  margin: 80px auto 8px;
  background: url(../img/body_background.gif);
  position: relative;
  border: 1px solid #c4c3c1;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.thumb_link:after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: -3px;
  left: 0px;
  height: 3px;
  background: rgba(23, 65, 65, 0.2);
}
.thumb_link img {
  width: 100%;
  max-width: 300px;
}
/* ------------------------------------------------------
	Portfolio Display
------------------------------------------------------ */
#portfolio_display {
  width: 940px;
  margin: 0 auto 50px;
}
#portfolio_project_info {
  width: 780px;
  margin: 0 auto;
  padding-bottom: 15px;
}
/* left align the slide indicator on the portfolio pages */
#portfolio_project_info #slide_indicate {
  margin: 0;
}
#portfolio_project_info .digits {
  width: auto;
}
#portfolio_project_info .one_slide {
  margin-right: 5px;
}
#portfolio_project_wrap {
  width: 780px;
  margin: 0 auto;
}
#portfolio_next, #portfolio_prev {
  width: 80px;
  height: 220px;
  position: relative;
}
#portfolio_next {
  float: right;
  background: 48px center url(../img/dot.png) repeat-y;
}
#portfolio_prev {
  float: left;
  background: 28px center url(../img/dot.png) repeat-y;
}
.button-wrap {
  width: 940px;
  position: relative;
}
#portfolio_next a {
  margin-top: 80px;
  right: 0;
}
#portfolio_prev a {
  margin-top: 80px;
  left: 0;
}
#portfolio_project_image {
  width: 100%;
}
#whatidid, #moreinfo {
  width: 390px;
  text-align: center;
  padding-top: 30px;
}
#whatidid {
  float: left;
}
#moreinfo {
  float: right;
}
#whatidid p {
  padding: 10px 15px 0 0;
}
#moreinfo p {
  padding: 10px 0 0 15px;
}
/* ------------------------------------------------------
		Footer
------------------------------------------------------ */
footer {
  width: 100%;
  height: 40px;
  margin-top: -116px;
  padding: 30px 0 45px 0;
  text-align: center;
  color: #262d3b;
  background: rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}
.portfolio footer {
  background: transparent;
  margin: 0;
  padding: 30px 0;
}
footer > p, footer > h1 {
  line-height: normal;
  display: inline;
  font-size: 14px;
}
footer > aside {
  top: 15px;
}
.home_footer {
  background: rgba(0, 0, 0, 0.2);
  border-top: 1px solid #b1aaa0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.ie .home_footer {
  background: url(../img/footer_background_layerone.png);
}
#dark_footerbar {
  width: 100%;
  height: 40px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 0px;
  border-top: 1px solid #8a8885;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.ie #dark_footerbar {
  background: url(../img/footer_background_layertwo.png);
}
footer a {
  padding: 3px 20px 3px 0;
}
a[href="#fans"] {
  padding: 0;
}
#resume {
  background: center right url(../img/footer_icon_pdf.png) no-repeat;
}
#email {
  background: center right url(../img/footer_icon_email.png) no-repeat;
}
#twitter {
  background: center right url(../img/footer_icon_twitter.png) no-repeat;
}
/* copyright group */
#dark_footerbar p {
  font: 10px/17px 'OFLSortsMillGoudyRegular';
  text-align: center;
  color: #1d1d1d;
}
#dark_footerbar img {
  position: relative;
  top: -24px;
  padding: 10px 15px;
  z-index: 999;
  border: none;
  outline: 0;
}
#dark_footerbar span {
  vertical-align: 2px;
  margin: 0 3px;
  font-size: 13px;
}
#dark_footerbar p:last-child {
  font-size: 15px;
  position: relative;
  top: -45px;
}
/* --------------------- print styles -------------------------------------------------------------------------------------------------------------------- */
@media print {
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none;
  }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:after {
    content: " (" attr(href) ")";
  }
  abbr:after {
    content: " (" attr(title) ")";
  }
  .ir a:after {
    content: "";
  }
  /* Don't show links for images */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  img {
    page-break-inside: avoid;
  }
  @page  {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
/* --------------------- media queries -------------------------------------------------------------------------------------------------------------------- */
@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */
}
@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */
}
@media screen and (max-device-width: 480px) {
  /* Prevent iOS, WinMobile from adjusting font size */
  html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
  }
}
@media screen and (min-width: 1250px) {
  #featured_project_slider {
    width: 50%;
  }
  #featured_project_summary {
    width: 50%;
  }
  #featured_project_summary p {
    width: 80%;
    margin: 0 auto 20px auto;
    line-height: 28px;
    font-size: 16px;
  }
}
@media screen and (max-width: 900px) {
  #featured_project_slider {
    width: auto;
    margin-right: 10px;
    padding-right: 10px;
  }
  .slider {
    width: 40px;
    height: 40px;
    line-height: 30px;
    font-size: 10px;
  }
  #fp_contain .next {
    right: -18px;
  }
  #fp_contain .prev {
    left: -18px;
  }
  #featured_project_summary {
    width: 25%;
    min-width: 0;
    padding: 0 10px;
  }
  #featured_project_summary p {
    font-size: 14px;
  }
}
