/**

		HTML5 elements
		
*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/**

		Links
		
*/
a {
	color: #900;
	text-decoration: none;
}

a:visited { color: #990000; }
a:hover { color: #fc0; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/**

		Type normalization
		
*/
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/**

		Lists
		
*/
ul, ol { margin: 1em 0; padding: 0 0 0 40px; color: #636363; list-style-image: url(_/img/red-bullet.png) }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/**

		Embedded content
		
		- Improve image quality when scaled in IE7: h5bp.com/d
    - Remove the gap between images and borders on image containers: h5bp.com/e 

*/
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/* Correct overflow not hidden in IE9 */
svg:not(:root) { overflow: hidden; }

/* Figures */
figure { margin: 0; }


/**

		Forms
		
*/
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/* 
		- Correct color not inheriting in IE6/7/8/9 
		- Correct alignment displayed oddly in IE6/7 
*/
legend { border: 0; *margin-left: -7px; padding: 0; }

/*
		- Correct font-size not inheriting in all browsers
		- Remove margins in FF3/4 S5 Chrome
		- Define consistent vertical alignment display in all browsers
*/
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
		- Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
		- Correct inner spacing displayed oddly in IE6/7
*/
button, input { line-height: normal; *overflow: visible; }

/* Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7 */
table button, table input { *overflow: auto; }

/*
		- Display hand cursor for clickable form elements
		- Allow styling of clickable form elements in iOS
*/
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/* Consistent box sizing and appearance */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* Remove inner padding and border in FF3/4: h5bp.com/l */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
		- Remove default vertical scrollbar in IE6/7/8/9 
		- Allow only vertical resizing
*/
textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/**

		Tables
		
*/
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/** 

    LESS
    
    Utility functions / variables

*/
/* Variables */
@default: #161616;
@sprite: "../img/sprite.png";

/* Functions */
.transition (@type: all, @speed: 0.4s, @easing: ease-out) {
  -webkit-transition: @arguments;  
     -moz-transition: @arguments;  
      -ms-transition: @arguments;  
       -o-transition: @arguments;  
          transition: @arguments;
}

.user-select() {
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}


/**

		Base
		
		- Correct text resizing oddly in IE6/7 when body font-size is set using em units
		- Force vertical scrollbar in non-IE
		- Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
		
*/
::-moz-selection { background: #aaa; color: #fff; text-shadow: none; }
::selection { background: #aaa; color: #fff; text-shadow: none; }

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; 
}

body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}

body,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: @default; 
}


/** 

    Label
    
*/
.label {
  display: block;
  margin: 0;
  padding: 0;
  
  .transition();
  
  a {
    float: left;
    display: block;
    height: 31px;
    margin: 0 10px 0 11px;
    padding: 0 15px;
    color: #c5c5c5;
    line-height: 29px;
    position: relative;  
    background: fadeout(#000, 10%);
    .transition();
    .user-select();

    &:before {
      content: '';
      display: block;
      width: 21px;
      height: 31px;
      position: absolute;
      top: 0;
      left: -21px;
      background: 0 -92px no-repeat url(/assets/img/sprite.png);
    }

    &:first-child {
      margin-left: 0;
      .border-radius(2px 0 0 2px);
    }

    &:last-child {
      margin-right: 0;
      .border-radius(0 2px 2px 0);
    }

    &:first-child:before {
      display: none;
    }
  }
}

/* Page Container */
#contain {
  width: 940px;
  margin: 0 auto;
}

/* Page Header */
#contain header {
  height: 140px;
  margin: 50px 0;
  position: relative;
  overflow: hidden;
}

#logo {
  float: left;
  display: block;
  opacity: 0;
  width: 91px;
  height: 92px;
  margin: 20px 25px 20px 24px;
  text-align: center;
  background: 0 0 no-repeat url(@sprite);
  outline: none;
  
  .transition(0.8s);
}

#logo:hover + #logo-links,
#logo-links:hover {
  opacity: 1;
}

#logo-links {
  display: block;
  opacity: 0;
  margin: 0 0 0 -20px;
  padding: 0 0 0 20px;
  position: absolute;
  top: 48px;
  left: 130px;
}

#logo-links a:first-child:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  margin: -3px 0 0 0;
  position: absolute;
  left: -8px;
  top: 50%;
  background: none;
  border-color: transparent fadeout(#000, 10%) transparent transparent;
  border-style: solid;
  border-width: 4px;
}


/**

    Projects 
    
*/
article {
  margin: 0 0 200px 0;
  position: relative;
}

h1 {
  float: left;
  margin: 0;
  padding: 0 60px 0 0;
  position: relative;
  font: 100 42px sans-serif;
  color: @default;
  
  &:after {
    content: '\00B7 \00B7 \00B7';
    float: left;
    display: block;
    opacity: 1;
    width: 20px;
    height: 20px;
    margin: -10px 0 0 0;
    padding: 0;
    font: bold 15px serif;
    color: fadeout(#fff, 50%);
    text-align: center;
    line-height: 21px;
    position: absolute;
    top: 50%;
    right: 10px;
    background: fadeout(#000, 80%);
    text-shadow: fadeout(#000, 80%);
    .border-radius(30px);
    .transition();
    .user-select();
  }
  
  &:hover:after {
    background: fadeout(#000, 60%);
    cursor: default;
  }
}

h1:hover + .project-links,
.project-links:hover {
  opacity: 1;
}

/* Project links */
.project-links {
  opacity: 0;
  position: relative;
  left: 0px;
  top: 8px;
}

.see-more:hover {
  cursor: url(/assets/img/eye.png), pointer;
}

.visit-site:hover {
  cursor: url(/assets/img/sextant.png), pointer;
}

/* Project type */
.project-type {
  clear: left;
  display: block;
  margin: 0 0 10px 0;
  
  span:hover {
    cursor: default;
  }
}

.design,
.dev {
  float: left;
  display: block;
  height: 67px;
  margin: 0 -25px;
  text-align: center;
  position: relative;
}

.design {
  width: 144px;
  font: bold 18px/67px sans-serif;
  left: -17px;
  background: -466px 0 no-repeat url(@sprite);
}

.dev {
  width: 139px;
  font: normal 24px/67px Inconsolata, monospace;
  left: -8px;
  background: -610px -15px no-repeat url(@sprite);
}

.and {
  float: left;
  display: block;
  width: 20px;
  height: 67px;
  font: normal 16px/67px courier, monospace;
  color: #707070;
  position: relative;
  left: -15px;
}

figure {
  width: 100%;
  position: relative;
  text-align: center;
}

.browser {
  padding: 25px 0 0 0;
  background: center -123px no-repeat url(@sprite);
  
  .project-title {
    display: block;
    width: 100%;
    font: 13px 'Lucida Grande', lucia, sans-serif;
    color: #3b3b3b;
    line-height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    text-shadow: 0 1px 1px fadeout(#fff, 50%);
  }
  
  img {
    width: 100%;
    .border-radius(0 0 5px 5px);
  }
}

.macbook {
  margin: 40px 0 0 0;
  
  img {
    padding: 37px 147px 94px 135px;
    background: center center no-repeat transparent url(../img/air-template.png);
  }
  
  .project-title {
    display: none;
  }
}


/**

    Sliding color blocks
    
*/
.blocks {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -999;
}


/**

    Footer
    
*/
footer {
  width: 100%;
  margin: 20px 0 0 0;
  padding: 80px 0;
  text-align: center;
  position: relative;
  z-index: 99999;
  background-color: #191919;
  background-image:    -moz-radial-gradient(50% -50%, ellipse closest-side, #363636, #191919 150%);
  background-image: -webkit-radial-gradient(50% -50%, ellipse closest-side, #363636, #191919 150%);
  background-image:      -o-radial-gradient(50% -50%, ellipse closest-side, #363636, #191919 150%);
  background-image:     -ms-radial-gradient(50% -50%, ellipse closest-side, #363636, #191919 150%);
  background-image:         radial-gradient(50% -50%, ellipse closest-side, #363636, #191919 150%);
}

/* Tagline */
#tagline {
  float: none;
  width: 100%;
  margin: 0;
  padding: 0;
  font: 100 30px sans-serif;
  color: #f8f8f8;
  text-align: center;
  
  &:before,
  &:after {
    display: none; 
  }
  
  pre {
    font-family: Inconsolata, monospace;
    display: inline;
  }
}

/* Client list */
#client-list {
  width: 700px;
  margin: 50px auto;
  overflow: hidden;
  
  p {
    font: 100 15px sans-serif;
    color: rgba(255, 255, 255, 0.50);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.20), 0 1px 1px rgba(0, 0, 0, 0.20);
  }
  
  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  
  li {
    float: left;
    width: 25%;
    height: 100px;
    line-height: 100px;
    overflow: inherit;
  }
  
  a {
    display: inline-block;
    text-indent: -999px;
    vertical-align: middle;
    background: no-repeat url(@sprite);
  }
  
  .client-campsite {
    width: 174px;
    height: 29px;
    background-position: -91px -24px;
  }

  .client-iasummit {
    width: 48px;
    height: 65px;
    background-position: -418px 0;
  }

  .client-gesturetheory {
    width: 153px;
    height: 42px;
    background-position: -265px 0;
  }

  .client-2tor {
    width: 108px;
    height: 37px;
    background-position: -91px -53px;
  }  
}

#signature {
  display: block;
  width: 117px;
  height: 24px;
  margin: 0 auto;
  background: -91px 0 no-repeat url(@sprite);
}

.social-links {
  width: 100%;
  margin: 0;
  text-align: center;
  list-style: none;
  overflow: hidden;
  
  a {
    font: 400 11px sans-serif;
    color: #f8f8f8;
    
    &:before {
      content: '\2022 \00A0';
    }
    
    &:first-child:before {
      display: none;
    }
  }
}





/**

		Helpers
		
*/
/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/**

		Media queries
		
*/
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/** 

		Print 
		
*/
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}