article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;}
html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;font-size:13px;line-height:1.231;}
body,button,input,select,textarea{font-family:sans-serif;color:#222;}
::-moz-selection{background:#fc0;color:#fff;text-shadow:none;}
::selection{background:#fc0;color:#fff;text-shadow:none;}
a{color:#900;text-decoration:none;}
a:visited{color:#990000;}
a:hover{color:#fc0;}
a:focus{outline:thin dotted;}
a:hover,a:active{outline:0;}
.current_page_item,.current_page_item a,.current_page_ancestor a{color:#111;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
ins{background:#ff9;color:#000;text-decoration:none;}
mark{background:#ff0;color:#000;font-style:italic;font-weight:bold;}
pre,code,kbd,samp{font-family:monospace, monospace;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:"";content:none;}
small{font-size:85%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
ul,ol{margin:1em 0;padding:0 0 0 40px;color:#636363;list-style-image:url(_/img/red-bullet.png);}
dd{margin:0 0 0 40px;}
nav ul,nav ol{list-style:none;list-style-image:none;margin:0;padding:0;}
img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:0;margin:0;padding:0;}
label{cursor:pointer;}
legend{border:0;*margin-left:-7px;padding:0;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;*overflow:visible;}
table button,table input{*overflow:auto;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;resize:vertical;}
input:invalid,textarea:invalid{background-color:#f0dddd;}
table{border-collapse:collapse;border-spacing:0;}
td{vertical-align:top;}
html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;font-size:13px;line-height:1.231;}
body,button,input,select,textarea{font-family:sans-serif;color:#161616;}
.label{display:block;margin:0;padding:0;-webkit-transition:all 0.4s ease-out;-moz-transition:all 0.4s ease-out;-ms-transition:all 0.4s ease-out;-o-transition:all 0.4s ease-out;transition:all 0.4s ease-out;}
.label a{float:left;display:block;height:31px;margin:0 10px 0 11px;padding:0 15px;color:#c5c5c5;line-height:29px;position:relative;background:rgba(0, 0, 0, 0.9);-webkit-transition:opacity 0.4s ease-out;-moz-transition:opacity 0.4s ease-out;-ms-transition:opacity 0.4s ease-out;-o-transition:opacity 0.4s ease-out;transition:opacity 0.4s ease-out;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;}
.label a:before{content:'';display:block;width:21px;height:31px;position:absolute;top:0;left:-21px;background:0 0 no-repeat url(../img/label-background.png);}
.label a:first-child{margin-left:0;-webkit-border-radius:2px 0 0 2px;-moz-border-radius:2px 0 0 2px;border-radius:2px 0 0 2px;}
.label a:last-child{margin-right:0;-webkit-border-radius:0 2px 2px 0;-moz-border-radius:0 2px 2px 0;border-radius:0 2px 2px 0;}
.label a:first-child:before{display:none;}
#contain{width:940px;margin:0 auto;}
#contain header{margin:50px 0;position:relative;overflow:hidden;}
#logo{float:left;display:block;opacity:0;width:140px;margin:0;padding:20px 0;text-align:center;outline:none;-webkit-transition:all 0.6s ease-out;-moz-transition:all 0.6s ease-out;-ms-transition:all 0.6s ease-out;-o-transition:all 0.6s ease-out;transition:all 0.6s ease-out;}
#logo:hover+#logo-links,#logo-links:hover{opacity:1;}
#logo-links{opacity:0;position:absolute;top:48px;left:130px;}
#logo-links:before{content:'';display:block;width:0;height:0;margin:-3px 0 0 0;position:absolute;left:-8px;top:50%;border-color:transparent rgba(0, 0, 0, 0.9) transparent transparent;border-style:solid;border-width:4px;}
article{margin:0 0 250px 0;position:relative;}
h1{float:left;margin:0;padding:0 20px 0 0;position:relative;font:100 42px sans-serif;color:#161616;}
h1:after{content:'\00B7 \00B7 \00B7';float:left;display:block;opacity:1;width:20px;height:20px;margin:-10px 0 0 0;padding:0;font:bold 15px serif;color:rgba(255, 255, 255, 0.5);text-align:center;line-height:21px;position:absolute;top:50%;left:100%;background:rgba(0, 0, 0, 0.2);text-shadow:rgba(0, 0, 0, 0.2);-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;-webkit-transition:opacity 0.5s ease-out;-moz-transition:opacity 0.5s ease-out;-ms-transition:opacity 0.5s ease-out;-o-transition:opacity 0.5s ease-out;transition:opacity 0.5s ease-out;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;}
h1:hover:after{background:rgba(0, 0, 0, 0.4);cursor:default;}
h1:hover+.project-links,.project-links:hover{opacity:1;}
.project-links{opacity:0;position:relative;left:40px;top:8px;}
.see-more:hover{cursor:url(../img/eye.png),pointer;}
.visit-site:hover{cursor:url(../img/sextant.png),pointer;}
.project-type{clear:left;display:block;margin:0 0 10px 0;}
.project-type span:hover{cursor:default;}
.design,.dev{float:left;display:block;height:67px;margin:0 -25px;text-align:center;position:relative;}
.design{width:144px;font:bold 18px/67px sans-serif;left:-17px;background:center center no-repeat url(../img/design-background.png);}
.dev{width:139px;font:normal 24px/67px Inconsolata,monospace;left:-8px;background:center -15px no-repeat url(../img/dev-background.png);}
.and{float:left;display:block;width:20px;height:67px;font:normal 16px/67px courier,monospace;color:#707070;position:relative;left:-15px;}
figure{width:100%;position:relative;text-align:center;}
.browser{padding:25px 0 0 0;background:center top no-repeat url(../img/bar.png);}
.macbook .label{top:50px;left:145px;}
.browser .project-title{display:block;width:100%;font:13px 'Lucida Grande',lucia,sans-serif;color:#3b3b3b;line-height:25px;position:absolute;top:0;left:0;z-index:999;text-shadow:0 1px 1px rgba(255, 255, 255, 0.5);}
.browser img{width:100%;-webkit-border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;}
.macbook img{padding:37px 147px 94px 135px;background:center center no-repeat transparent url(../img/air-template.png);}
footer{width:100%;margin:20px 0;text-align:center;}
#signature{padding:20px 0;}
.blocks{display:none;width:100%;height:100%;position:fixed;top:0;z-index:-999;}
.ir{display:block;border:0;text-indent:-999em;overflow:hidden;background-color:transparent;background-repeat:no-repeat;text-align:left;direction:ltr;}
.ir br{display:none;}
.hidden{display:none !important;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
@media only screen and (min-width: 480px){}@media only screen and (min-width: 768px){}@media print{*{background:transparent !important;color:black !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important;} a,a:visited{text-decoration:underline;} a[href]:after{content:" (" attr(href) ")";} abbr[title]:after{content:" (" attr(title) ")";} .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:"";} pre,blockquote{border:1px solid #999;page-break-inside:avoid;} thead{display:table-header-group;} tr,img{page-break-inside:avoid;} img{max-width:100% !important;} @page {margin:0.5cm;}p,h2,h3{orphans:3;widows:3;} h2,h3{page-break-after:avoid;}}
